
* {
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 2em;
}

a:hover {
    background: #eee;
}
a.copiable-link {
    visibility: hidden;
    text-decoration: none;
    line-height: 0em
}

div.example, pre.verbatim, blockquote {
    margin: 0.5em 3em;
    padding: 0.5em 1em;
    background: #eee;
}

span:hover a.copiable-link {
    visibility: visible
}

code {
    font-family: monospace;
}
var {
    font-family: monospace;
    font-style: italic;
}

pre {
    font-family: monospace;
}


@media (min-width: 80em) {
    body {
	width: 80em;
    }
}
