name: Documentation

env:
  TEXIFILE: devcontainer.texi

on:
  push:
    branches:
      - main
      - ci-debug


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build docs
        run: |
          texi2any --html \
                   --no-number-sections \
                   --css-ref style.css \
                   --init-file ./docs/no-inline-css.pm \
                   --output docs-output \
                   $TEXIFILE

      - name: copying html assets
        run: cp docs/style.css docs-output

      - name: Upload static files as artifact
        id: deployment
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs-output/


  deploy:
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
